body {
    background: rgb(11, 109, 114);
}

h1 {
    color: white;
    text-align: center;
}

form {
    text-align: center;
}

input[type="text"] {
    outline: none;
    text-align: center;
    border-radius: 10px;
    font-size: 25px;
}

input[type="submit"] {
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background: rgb(11, 124, 77);
    color: white;
    width: 100px;
}

input[type="submit"]:hover {
    background: rgb(14, 151, 94);
    cursor: pointer;
    box-shadow: 5px 5px 10px black;
}

.to-list {
    display: block;
    margin: 10px auto;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    background: rgb(11, 124, 77);
    color: white;
    width: 100px;
}

.to-list:hover {
    background: rgb(14, 151, 94);
    cursor: pointer;
    box-shadow: 5px 5px 10px black;
}

.list-names {
    display: block;
    width: 300px;
    margin: 0 auto;
    color: white;
}

.list-names button {
    background: rgb(192, 8, 8);
    font-size: 18px;
    border-radius: 10px;
    margin-top: 5px;
    color: white;
    padding: 5px 10px;
}

.list-names button:hover {
    background: rgb(231, 11, 11);
    box-shadow: 5px 5px 10px black;
}

.list-names a {
    margin-left: 20px;
    font-size: 25px;
}

.adult {
    color: green;
}

.no-adult {
    color: red;
}

.back-btn {
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    margin: 50px auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    background: rgb(11, 124, 77);
    color: white;
    width: 170px;
}

.back-btn:hover {
    background: rgb(14, 151, 94);
    cursor: pointer;
    box-shadow: 5px 5px 10px black;
}
